/* ----------------------- */

/* main body */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p {
  cursor: pointer;
}
h5 {
  font-size: 16px;
  color: black;
}
/* hovering effect for all items */
.hover:hover {
  background-color: rgba(223, 221, 221, 0.555);
}

/* horizontal line */
hr {
  margin: 10px 0;
}

.last-hr {
  border: 2px solid black;
}

/* promo code section */
#promo-code {
  height: 38px;
  border-radius: 5px;
}

/* ----------------------- */
.price {
  display: block;
  font-size: 22px;
}
